<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="Heading-title">
            <div><p>Recipe's Book<sub><h6><i>Add & Store your's Favrouite recipes...</i></h6></sub></p></div>
            <div><img src="../Images/recipe-book.png" alt="" class="img-responsive"></div>
        </div>
        <div *ngIf="isLoading">
             <laoding-spinner-app></laoding-spinner-app>
        </div>
        <div *ngIf="!isLoading">
            <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
                <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" name="email" ngModel required email>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" name="password" ngModel required minlength="6">
                </div>
                <div>
                    <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">
                    {{ isLogin ?'Log In':'Sign Up'}} 
                    </button> |
                    <button class="btn btn-primary" type="button" (click)="onswitch()">
                        Switch to {{ isLogin ? 'Sign Up':'Log In'}}
                    </button>
                </div>
            </form>
    </div>
    <!-- <div *ngIf="error!==''" class="alert alert-danger">
         <p>{{error}}</p>
    </div> -->
    <alert-app [message]="error" *ngIf="error!=''" (close)="onHandleClose()"></alert-app>
    </div>
</div>