<div class="recipe-details">
    <div *ngIf="recipe;else norecipe">
        <div class="row">
            <div class="col-xs-12">
                <div class="image" style="max-width:50%;">
                    <img [src]="recipe.imagePath?recipe.imagePath:''" alt="" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>{{recipe.name}}</h1>
            </div>
        </div>
        <div class="row">
                <div class="col-xs-12">
                    <div class="btn-group" appDropdown>
                        <button type="button" class="btn btn-primary dropdown-toggle">
                            Manage recipe <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                            <li><a style="cursor:pointer;"(click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
                            <li><a style="cursor:pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
                            <li><a style="cursor:pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                   {{recipe.description}}
                </div>
                <div class="col-xs-12">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                            {{ingredient.name}} - {{ingredient.amount}}
                        </li>   
                    </ul>  
                </div>
        </div>
    </div>
    <ng-template #norecipe>
       <p>Please select one item</p>
    </ng-template>
</div>
